* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






/*CLASSI PRIMA CARD */


.card-img-top-1 {
    width: 100%;
    height: auto;
}

.card-1 {
    max-width: 100%;
    height: auto;
    border: 2px aqua;
}

.card-title-1 {
    padding: 15px;
    background-color: rgb(243, 102, 21);
    color: white;
    text-align: center;

}

.card-text-1 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/*CLASSI SECONDA CARD*/

.card-img-top-2 {
    width: 100%;
    height: auto;
}

.card-2 {
    max-width: 100%;
    height: auto;
    border: 2px aqua;
}

.card-title-2 {
    padding: 15px;
    background-color: rgb(4, 77, 8);
    color: white;
    text-align: center;

}

.card-text-2 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/*CLASSI TERZA CARD */

.card-img-top-3 {
    width: 100%;
    height: auto;
}

.card-3 {
    max-width: 100%;
    height: auto;
    border: 2px aqua;
}

.card-title-3 {
    padding: 15px;
    background-color: rgb(61, 222, 243);
    color: white;
    text-align: center;

}

.card-text-3 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

form {
    
}